.Photo {
  margin: 50px;
  width: 800px;
  height: 850px;
}
.heading{
  margin: 50px 0 20px 80px;
}

.mainnet {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}

.sub {
  margin: 50px;
  width: 800px;
  height: 850px;
}
.Form{
  background-color: red;
  position: relative;
  top: 20vh;
  left: 35vw;
  width: 700px;
  height: auto;
  margin: 50px;
  padding: 40px;

}
